<div class="row">
  <!-- ---------------------------------------------- -->
  <!-- 1. Badges -->
  <!-- ---------------------------------------------- -->
  <div class="col-12">
    <!-- ---------------------
                    start Badges
                ---------------- -->
    <div class="card w-100">
      <div class="border-bottom p-3">
        <h4 class="card-title mb-0">Badges</h4>
      </div>
      <div class="card-body">
        <h1>Example heading <span class="badge bg-secondary">New</span></h1>
        <h2>Example heading <span class="badge bg-secondary">New</span></h2>
        <h3>Example heading <span class="badge bg-secondary">New</span></h3>
        <h4>Example heading <span class="badge bg-secondary">New</span></h4>
        <h5>Example heading <span class="badge bg-secondary">New</span></h5>
        <h6>Example heading <span class="badge bg-secondary">New</span></h6>
      </div>
    </div>
    <!-- ---------------------
                    end Badges
                ---------------- -->
  </div>
  <!-- ---------------------------------------------- -->
  <!-- 2. Badges with button -->
  <!-- ---------------------------------------------- -->
  <div class="col-12">
    <!-- ---------------------
                    start Badges with button
                ---------------- -->
    <div class="card w-100">
      <div class="border-bottom p-3">
        <h4 class="card-title mb-0">Badges with button</h4>
      </div>
      <div class="card-body">
        <h4 class="card-title">Right Align Badge</h4>
        <div class="row gap-2">
          <div class="col-md-2">
            <button
              type="button"
              class="
                btn
                d-flex
                btn-light-primary
                w-100
                d-block
                text-primary
                font-medium
              "
            >
              Primary <span class="badge ms-auto bg-primary">1</span>
            </button>
          </div>
          <div class="col-md-2">
            <button
              type="button"
              class="
                btn
                d-flex
                btn-light-info
                w-100
                d-block
                text-info
                font-medium
              "
            >
              Info <span class="badge ms-auto bg-info">2</span>
            </button>
          </div>
          <div class="col-md-2">
            <button
              type="button"
              class="
                btn
                d-flex
                btn-light-warning
                w-100
                d-block
                text-warning
                font-medium
              "
            >
              Warning <span class="badge ms-auto bg-warning">3</span>
            </button>
          </div>
          <div class="col-md-2">
            <button
              type="button"
              class="
                btn
                d-flex
                btn-light-danger
                w-100
                d-block
                text-danger
                font-medium
              "
            >
              Danger <span class="badge ms-auto bg-danger">4</span>
            </button>
          </div>
          <div class="col-md-2">
            <button
              type="button"
              class="
                btn
                d-flex
                btn-light-success
                w-100
                d-block
                text-success
                font-medium
              "
            >
              Success <span class="badge ms-auto bg-success">5</span>
            </button>
          </div>
          <div class="col-md-2">
            <button
              type="button"
              class="
                btn
                d-flex
                btn-light-secondary
                w-100
                d-block
                text-secondary
                font-medium
              "
            >
              Secondary
              <span class="badge ms-auto bg-secondary">6</span>
            </button>
          </div>
        </div>
        <h4 class="card-title mt-3">Left Align Badge</h4>
        <div class="row gap-2 mt-2">
          <div class="col-md-2">
            <button
              type="button"
              class="
                btn
                d-flex
                btn-light-primary
                w-100
                d-block
                text-primary
                font-medium
              "
            >
              <span class="badge me-auto bg-primary">1</span>Primary
            </button>
          </div>
          <div class="col-md-2">
            <button
              type="button"
              class="
                btn
                d-flex
                btn-light-info
                w-100
                d-block
                text-info
                font-medium
              "
            >
              <span class="badge me-auto bg-info">2</span> Info
            </button>
          </div>
          <div class="col-md-2">
            <button
              type="button"
              class="
                btn
                d-flex
                btn-light-warning
                w-100
                d-block
                text-warning
                font-medium
              "
            >
              <span class="badge me-auto bg-warning">3</span> Warning
            </button>
          </div>
          <div class="col-md-2">
            <button
              type="button"
              class="
                btn
                d-flex
                btn-light-danger
                w-100
                d-block
                text-danger
                font-medium
              "
            >
              <span class="badge me-auto bg-danger">4</span> Danger
            </button>
          </div>
          <div class="col-md-2">
            <button
              type="button"
              class="
                btn
                d-flex
                btn-light-success
                w-100
                d-block
                text-success
                font-medium
              "
            >
              <span class="badge me-auto bg-success">5</span> Success
            </button>
          </div>
          <div class="col-md-2">
            <button
              type="button"
              class="
                btn
                d-flex
                btn-light-secondary
                w-100
                d-block
                text-secondary
                font-medium
              "
            >
              <span class="badge me-auto bg-secondary">6</span>
              Secondary
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- ---------------------
                    end Badges with button
                ---------------- -->
  </div>
  <!-- ---------------------------------------------- -->
  <!-- 3. Badges -->
  <!-- ---------------------------------------------- -->
  <div class="col-12">
    <!-- ---------------------
                    start Badges with Background
                ---------------- -->
    <div class="card w-100">
      <div class="border-bottom p-3">
        <h4 class="card-title mb-0">Badges with Background</h4>
      </div>
      <div class="card-body">
        <h5 class="card-title">With Solid Background</h5>
        <span class="mb-1 me-2 badge bg-primary">Primary</span>
        <span class="mb-1 me-2 badge bg-secondary">Secondary</span>
        <span class="mb-1 me-2 badge bg-success">Success</span>
        <span class="mb-1 me-2 badge bg-danger">Danger</span>
        <span class="mb-1 me-2 badge bg-warning">Warning</span>
        <span class="mb-1 me-2 badge bg-info">Info</span>
        <span class="mb-1 me-2 badge bg-light text-dark">Light</span>
        <span class="mb-1 me-2 badge bg-dark">Dark</span>
        <h5 class="card-title mt-3 border-top pt-3 mt-4">
          With Light Background
        </h5>
        <span class="mb-1 me-2 badge font-medium bg-light-primary text-primary"
          >Primary</span
        >
        <span class="mb-1 me-2 badge font-medium bg-light-secondary text-secondary"
          >Secondary</span
        >
        <span class="mb-1 me-2 badge font-medium bg-light-success text-success"
          >Success</span
        >
        <span class="mb-1 me-2 badge font-medium bg-light-danger text-danger"
          >Danger</span
        >
        <span class="mb-1 me-2 badge font-medium bg-light-warning text-warning"
          >Warning</span
        >
        <span class="mb-1 me-2 badge font-medium bg-light-info text-info">Info</span>
      </div>
    </div>
    <!-- ---------------------
                    end Badges with Background
                ---------------- -->
  </div>
  <!-- ---------------------------------------------- -->
  <!-- 3. Badges Pill -->
  <!-- ---------------------------------------------- -->
  <div class="col-12">
    <!-- ---------------------
                    start Badges Pill with Background
                ---------------- -->
    <div class="card w-100">
      <div class="border-bottom p-3">
        <h4 class="card-title mb-0">Badges Pill with Background</h4>
      </div>
      <div class="card-body">
        <h5 class="card-title">With Solid Background</h5>
        <span class="mb-1 me-2 badge rounded-pill bg-primary">Primary</span>
        <span class="mb-1 me-2 badge rounded-pill bg-secondary">Secondary</span>
        <span class="mb-1 me-2 badge rounded-pill bg-success">Success</span>
        <span class="mb-1 me-2 badge rounded-pill bg-danger">Danger</span>
        <span class="mb-1 me-2 badge rounded-pill bg-warning"
          >Warning</span
        >
        <span class="mb-1 me-2 badge rounded-pill bg-info">Info</span>
        <span class="mb-1 me-2 badge rounded-pill bg-light text-dark">Light</span>
        <span class="mb-1 me-2 badge rounded-pill bg-dark">Dark</span>
        <h5 class="card-title mt-3 border-top pt-3 mt-4">
          With Light Background
        </h5>
        <span
          class="
            mb-1 me-2
            badge
            rounded-pill
            font-medium
            bg-light-primary
            text-primary
          "
          >Primary</span
        >
        <span
          class="
            mb-1 me-2
            badge
            rounded-pill
            font-medium
            bg-light-secondary
            text-secondary
          "
          >Secondary</span
        >
        <span
          class="
            mb-1 me-2
            badge
            rounded-pill
            font-medium
            bg-light-success
            text-success
          "
          >Success</span
        >
        <span
          class="
            mb-1 me-2
            badge
            rounded-pill
            font-medium
            bg-light-danger
            text-danger
          "
          >Danger</span
        >
        <span
          class="
            mb-1 me-2
            badge
            rounded-pill
            font-medium
            bg-light-warning
            text-warning
          "
          >Warning</span
        >
        <span
          class="mb-1 me-2 badge rounded-pill font-medium bg-light-info text-info"
          >Info</span
        >
      </div>
    </div>
    <!-- ---------------------
                    end Badges Pill with Background
                ---------------- -->
  </div>
</div>
