<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile">
            <!-- User profile image -->
            <div class="profile-img"> <img src="assets/images/users/1.jpg" alt="user" /> </div>
            <!-- User profile text-->
            <div class="profile-text"> <a href="#" class="dropdown-toggle link u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Markarn Doe <span class="caret"></span></a>
                <div class="dropdown-menu animated flipInY">
                    <a href="#" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                    <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
                    <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                    <div class="dropdown-divider"></div> <a href="#" class="dropdown-item"><i class="ti-settings"></i> Account Setting</a>
                    <div class="dropdown-divider"></div> <a href="login.html" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                </div>
            </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li [class.active]="showMenu === 'starter'">
                    <a routerLink="/starter" (click)="addExpandClass('starter')" [routerLinkActive]="['router-link-active']"><i class="mdi mdi-file"></i><span class="hide-menu">Starter Page</span></a>
                </li>                
                <li class="nav-small-cap">UI Components</li>
                <li [class.active]="showMenu === 'component'">
                    <a class="has-arrow" href="javascript:void(0)" (click)="addExpandClass('component')" aria-expanded="false"><i class="mdi mdi-bullseye"></i><span class="hide-menu">Components</span></a>
                    <ul aria-expanded="false" class="collapse" [class.in]="showMenu === 'component'">
                        <li><a routerLink="/component/accordion" [routerLinkActive]="['router-link-active']">Accordion</a></li>
                        <li><a routerLink="/component/alert" [routerLinkActive]="['router-link-active']">Alert</a></li>
                        <li><a routerLink="/component/carousel" [routerLinkActive]="['router-link-active']">Carousel</a></li>
                        <li><a routerLink="/component/dropdown" [routerLinkActive]="['router-link-active']">Dropdown - Collapse</a></li>
                        <li><a routerLink="/component/modal" [routerLinkActive]="['router-link-active']">Modal</a></li>
                        <li><a routerLink="/component/pagination" [routerLinkActive]="['router-link-active']">Pagination</a></li>
                        <li><a routerLink="/component/poptool" [routerLinkActive]="['router-link-active']">Popover & Tooltip</a></li>
                        <li><a routerLink="/component/progressbar" [routerLinkActive]="['router-link-active']">Progressbar</a></li>
                        <li><a routerLink="/component/rating" [routerLinkActive]="['router-link-active']">Ratings</a></li>
                        <li><a routerLink="/component/tabs" [routerLinkActive]="['router-link-active']">Tabs</a></li>
                        <li><a routerLink="/component/timepicker" [routerLinkActive]="['router-link-active']">Timepicker</a></li>
                        <li><a routerLink="/component/buttons" [routerLinkActive]="['router-link-active']">Button</a></li>
                        <li><a routerLink="/component/cards" [routerLinkActive]="['router-link-active']">Card</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
    <div class="sidebar-footer">
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
    </div>
    <!-- End Bottom points-->
</aside>