<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Modal with default options</h3>
                <h6 class="card-subtitle">This is basic toggletype accordion</h6>
                <ng-template #content let-c="close" let-d="dismiss">
				  <div class="modal-header">
				    <h4 class="modal-title">Modal title</h4>
				    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
				      <span aria-hidden="true">&times;</span>
				    </button>
				  </div>
				  <div class="modal-body">
				    <p>One fine body&hellip;</p>
				  </div>
				  <div class="modal-footer">
				    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
				  </div>
				</ng-template>

				<button class="btn btn-lg btn-outline-primary" (click)="open2(content)">Launch demo modal</button>
				<div class="m-t-20">{{closeResult}}</div>
            </div>
        </div>
    </div>
    <div class="col-md-6"> 
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Modal with custom class</h3>
                <h6 class="card-subtitle">You can pass extra class to the model</h6>
                <ng-template #content2 let-c="close" let-d="dismiss">
					  <div class="modal-header"> 
					    <h4 class="modal-title text-white">Modal title</h4>
					    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
					      <span aria-hidden="true">&times;</span>
					    </button>
					  </div>
					  <div class="modal-body">
					    <p>One fine body&hellip;</p>
					  </div>
					  <div class="modal-footer">
					    <button type="button" class="btn btn-inverse" (click)="c('Close click')">Close</button>
					  </div>
					</ng-template>

					<button class="btn btn-lg btn-outline-primary" (click)="open(content2)">Launch demo modal</button>
            </div>
        </div>
    </div>
</div>