@import 'layout/layout'; 

@import 'scafholdings/scafholding';

// Spinner
@import 'loader/spinner'; 


// Header
@import 'topbar/header'; 

// breadcrumb
@import 'breadcrumb/breadcrumb';     

// sidebar
@import 'sidebar/sidebar'; 

//wave effects
@import 'wave-effects/wave-effects';

//Buttons
@import 'buttons/buttons';

//Animation effects
@import 'animation/animation';

@import 'perfect-scrollbar';
