<div class="row">
    <div class="col-md-6">
        <app-daily-sales></app-daily-sales>
    </div>
    <div class="col-md-6">
        <app-weekly-sales></app-weekly-sales>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <app-revenue-static-graph></app-revenue-static-graph>
    </div>
</div>

<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <app-project-month></app-project-month>
    </div>
</div>
<!-- Row -->

<div class="row">
    <!-- Column -->
    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top img-responsive" src="assets/images/big/img1.jpg" alt="Card">
            <div class="card-body">
                <ul class="list-inline d-flex font-14">
                    <li class="p-l-0 mr-3">20 May 2016</li>
                    <li>
                        <a href="javascript:void(0)" class="link">3 Comment</a>
                    </li>
                </ul>
                <h3 class="font-normal">Featured Hydroflora Pots Garden &amp; Outdoors</h3>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top img-responsive" src="assets/images/big/img2.jpg" alt="Card">
            <div class="card-body">
                <ul class="list-inline d-flex font-14">
                    <li class="p-l-0 mr-3">20 May 2016</li>
                    <li>
                        <a href="javascript:void(0)" class="link">3 Comment</a>
                    </li>
                </ul>
                <h3 class="font-normal">Featured Hydroflora Pots Garden &amp; Outdoors</h3>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top img-responsive" src="assets/images/big/img4.jpg" alt="Card">
            <div class="card-body">
                <ul class="list-inline d-flex font-14">
                    <li class="p-l-0  mr-3">20 May 2016</li>
                    <li>
                        <a href="javascript:void(0)" class="link">3 Comment</a>
                    </li>
                </ul>
                <h3 class="font-normal">Featured Hydroflora Pots Garden &amp; Outdoors</h3>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>