<div class="card">
    <div class="card-body">
        <h4 class="card-title">Daily Sales</h4>
        <div class="text-right">
            <h2 class="font-light m-b-0"><i class="ti-arrow-up text-success"></i> $120</h2>
            <span class="text-muted">Todays Income</span>
        </div>
        <span class="text-success">80%</span>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 80%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>
