<div class="row">
  <!-- ---------------------------------------------- -->
  <!-- 1. Badges -->
  <!-- ---------------------------------------------- -->
  <div class="col-12">
    <!-- ---------------------
                    start Badges
                ---------------- -->
    <div class="card w-100">
      <div class="border-bottom p-3">
        <h4 class="card-title mb-0">Badges</h4>
      </div>
      <div class="card-body">
        <h1>Example heading <span class="badge bg-secondary">New</span></h1>
        <h2>Example heading <span class="badge bg-secondary">New</span></h2>
        <h3>Example heading <span class="badge bg-secondary">New</span></h3>
        <h4>Example heading <span class="badge bg-secondary">New</span></h4>
        <h5>Example heading <span class="badge bg-secondary">New</span></h5>
        <h6>Example heading <span class="badge bg-secondary">New</span></h6>
      </div>
    </div>
    <!-- ---------------------
                    end Badges
                ---------------- -->
  </div>
  <!-- ---------------------------------------------- -->
  <!-- 2. Badges with button -->
  <!-- ---------------------------------------------- -->
  <div class="col-12">
    <!-- ---------------------
                    start Badges with button
                ---------------- -->
    <div class="card w-100">
      <div class="border-bottom p-3">
        <h4 class="card-title mb-0">Badges with button</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <button
              type="button"
              class="
                btn
                btn-outline-primary
                w-100
                d-block
              "
            >
            Notifications <span class="badge bg-dark">1</span>
            </button>
          </div>
          <div class="col-md-2">
            <button
              type="button"
              class="
                btn
                btn-outline-info
                w-100
                d-block
              "
            >
              Notifications <span class="badge bg-dark">1</span>
            </button>
          </div>
          <div class="col-md-2">
            <button
              type="button"
              class="
                btn
                btn-outline-danger
                w-100
                d-block
              "
            >
              Notifications <span class="badge bg-dark">1</span>
            </button>
          </div>
          <div class="col-md-2">
            <button
              type="button"
              class="
                btn
                btn-outline-success
                w-100
                d-block
              "
            >
              Notifications <span class="badge bg-dark">1</span>
            </button>
          </div>
          <div class="col-md-2">
            <button
              type="button"
              class="
                btn
                btn-outline-warning
                w-100
                d-block
              "
            >
              Notifications <span class="badge bg-dark">1</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- ---------------------
                    end Badges with button
                ---------------- -->
  </div>
  <!-- ---------------------------------------------- -->
  <!-- 3. Badges -->
  <!-- ---------------------------------------------- -->
  <div class="col-12">
    <!-- ---------------------
                    start Badges with Background
                ---------------- -->
    <div class="card w-100">
      <div class="border-bottom p-3">
        <h4 class="card-title mb-0">Badges with Background</h4>
      </div>
      <div class="card-body">
        <span class="mb-1 me-2 badge bg-primary">Primary</span>
        <span class="mb-1 me-2 badge bg-secondary">Secondary</span>
        <span class="mb-1 me-2 badge bg-success">Success</span>
        <span class="mb-1 me-2 badge bg-danger">Danger</span>
        <span class="mb-1 me-2 badge bg-warning">Warning</span>
        <span class="mb-1 me-2 badge bg-info">Info</span>
        <span class="mb-1 me-2 badge bg-light text-dark">Light</span>
        <span class="mb-1 me-2 badge bg-dark">Dark</span>
        
      </div>
    </div>
    <!-- ---------------------
                    end Badges with Background
                ---------------- -->
  </div>
  <!-- ---------------------------------------------- -->
  <!-- 3. Badges Pill -->
  <!-- ---------------------------------------------- -->
  <div class="col-12">
    <!-- ---------------------
                    start Badges Pill with Background
                ---------------- -->
    <div class="card w-100">
      <div class="border-bottom p-3">
        <h4 class="card-title mb-0">Badges Pill with Background</h4>
      </div>
      <div class="card-body">
        <span class="mb-1 me-2 badge rounded-pill bg-primary">Primary</span>
        <span class="mb-1 me-2 badge rounded-pill bg-secondary">Secondary</span>
        <span class="mb-1 me-2 badge rounded-pill bg-success">Success</span>
        <span class="mb-1 me-2 badge rounded-pill bg-danger">Danger</span>
        <span class="mb-1 me-2 badge rounded-pill bg-warning"
          >Warning</span
        >
        <span class="mb-1 me-2 badge rounded-pill bg-info">Info</span>
        <span class="mb-1 me-2 badge rounded-pill bg-light text-dark">Light</span>
        <span class="mb-1 me-2 badge rounded-pill bg-dark">Dark</span>
      </div>
    </div>
    <!-- ---------------------
                    end Badges Pill with Background
                ---------------- -->
  </div>
</div>
