<div class="row">
  <!-- ==================================-->
  <!-- =======Dropdown ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Dropdown</h4>
      </div>
      <div class="card-body border-top">
        <div class="button-group">
          <div class="d-inline-block" ngbDropdown>
            <button class="btn btn-primary d-flex align-items-center" id="dropdown1" ngbDropdownToggle>
              Primary

            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown1">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown>
            <button class="btn btn-danger d-flex align-items-center" id="dropdown2" ngbDropdownToggle>
              Danger

            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown2">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>

          <div class="d-inline-block" ngbDropdown>
            <button class="btn btn-info d-flex align-items-center" id="dropdown3" ngbDropdownToggle>
              Info

            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown3">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown>
            <button class="btn btn-warning d-flex align-items-center" id="dropdown4" ngbDropdownToggle>
              Warning

            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown4">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown>
            <button class="btn btn-success d-flex align-items-center" id="dropdown5" ngbDropdownToggle>
              Success

            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown5">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown>
            <button class="btn btn-secondary d-flex align-items-center" id="dropdown6" ngbDropdownToggle>
              Secondary

            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown6">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <!-- <div class="col text-end">
            <div ngbDropdown placement="top-end">
              <button
                class="btn btn-outline-primary"
                id="dropdownBasic2"
                ngbDropdownToggle
              >
                Toggle dropup
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                <button class="dropdown-item">Option 1</button>
                <button class="dropdown-item">Option 2</button>
                <button class="dropdown-item">Option 3</button>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- ==================================-->
  <!-- =======Dropup ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Dropup</h4>
      </div>
      <div class="card-body border-top">
        <div class="button-group">
          <div class="d-inline-block" ngbDropdown placement="top-end">
            <button class="btn btn-primary d-flex align-items-center" id="dropdown1" ngbDropdownToggle>
              Primary

            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown1">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown placement="top-end">
            <button class="btn btn-danger d-flex align-items-center" id="dropdown2" ngbDropdownToggle>
              Danger

            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown2">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>

          <div class="d-inline-block" ngbDropdown placement="top-end">
            <button class="btn btn-info d-flex align-items-center" id="dropdown3" ngbDropdownToggle>
              Info

            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown3">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown placement="top-end">
            <button class="btn btn-warning d-flex align-items-center" id="dropdown4" ngbDropdownToggle>
              Warning
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown4">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown placement="top-end">
            <button class="btn btn-success d-flex align-items-center" id="dropdown5" ngbDropdownToggle>
              Success
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown5">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
          <div class="d-inline-block" ngbDropdown placement="top-end">
            <button class="btn btn-secondary d-flex align-items-center" id="dropdown6" ngbDropdownToggle>
              Secondary
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown6">
              <button class="dropdown-item">Option 1</button>
              <button class="dropdown-item">Option 2</button>
              <button class="dropdown-item">Option 3</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <!-- ==================================-->
    <!-- ======= Split  Dropdown ===== -->
    <!-- ==================================-->
    <div class="card">
      <div class="p-3">
        <h4 class="card-title mb-0">Split Dropdowns</h4>
      </div>
      <div class="card-body border-top">
        <!-- 1 -->
        <div class="btn-group me-2 mb-2 mb-md-0" ngbDropdown>
          <button type="button" class="btn btn-primary">Primary</button>
          <button type="button" ngbDropdownToggle class="btn btn-primary dropdown-toggle-split"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem>Action</button>
            <button ngbDropdownItem>Another action</button>
            <button ngbDropdownItem>Something else here</button>
            <button ngbDropdownItem>Separated link</button>
          </ul>
        </div>
        <!-- 2 -->
        <div class="btn-group me-2 mb-2 mb-md-0" ngbDropdown>
          <button type="button" class="btn btn-danger">Danger</button>
          <button type="button" ngbDropdownToggle class="btn btn-danger dropdown-toggle-split" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem>Action</button>
            <button ngbDropdownItem>Another action</button>
            <button ngbDropdownItem>Something else here</button>
            <button ngbDropdownItem>Separated link</button>
          </ul>
        </div>
        <!-- 3 -->
        <div class="btn-group me-2 mb-2 mb-md-0" ngbDropdown>
          <button type="button" class="btn btn-info">Info</button>
          <button type="button" ngbDropdownToggle class="btn btn-info dropdown-toggle-split" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem>Action</button>
            <button ngbDropdownItem>Another action</button>
            <button ngbDropdownItem>Something else here</button>
            <button ngbDropdownItem>Separated link</button>
          </ul>
        </div>
        <!-- 4 -->
        <div class="btn-group me-2 mb-2 mb-md-0" ngbDropdown>
          <button type="button" class="btn btn-warning">Warning</button>
          <button type="button" ngbDropdownToggle class="btn btn-warning dropdown-toggle-split"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem>Action</button>
            <button ngbDropdownItem>Another action</button>
            <button ngbDropdownItem>Something else here</button>
            <button ngbDropdownItem>Separated link</button>
          </ul>
        </div>
        <!-- 5 -->
        <div class="btn-group me-2 mb-2 mb-md-0" ngbDropdown>
          <button type="button" class="btn btn-success">Success</button>
          <button type="button" ngbDropdownToggle class="btn btn-success dropdown-toggle-split"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem>Action</button>
            <button ngbDropdownItem>Another action</button>
            <button ngbDropdownItem>Something else here</button>
            <button ngbDropdownItem>Separated link</button>
          </ul>
        </div>
        <!-- 6 -->
        <div class="btn-group me-2 mb-2 mb-md-0" ngbDropdown>
          <button type="button" class="btn btn-secondary">Secondary</button>
          <button type="button" ngbDropdownToggle class="btn btn-secondary dropdown-toggle-split"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <button ngbDropdownItem>Action</button>
            <button ngbDropdownItem>Another action</button>
            <button ngbDropdownItem>Something else here</button>
            <button ngbDropdownItem>Separated link</button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>